/* Global Styles */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #a1c3ff;
    color: #fff;
    line-height: 1.5;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
img {
    max-width: 100%;
}
h1,h2{
    font-weight: 800;
    line-height: 1.2;
    margin-bottom: 10px;
}
h1{
    font-size: 60px;
}
h2{
    font-size: 32px;
}
p{
    font-size: 20px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    font-size: 16px;
    color: #fff;
    font-weight: bold;

}

/* Components */
.navbar{
    background-color: #3474e6;
    height: 60px;
    color: #fff;
}
.navbar.logo {
    font-size: x-large;
    font-weight: Bold;
    cursor: pointer;

}
.logo:hover{
    color: lightblue;
}
.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* The height takes 100% height of the navbar */
    height: 100%;

}
.navbar ul {
    display: flex;
}
.navbar ul li {
    margin-left: 20px;
}
.navbar a:hover{
    color: lightblue;
}

.header{
    background-color: #0a51cc;
    color: #fff;
    min-height: 400px;
}
.header img {
    max-width: 400px;
}
.header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.boxes .container{
    display: flex;
    justify-content: space-between;
}

.box{
    flex: 1;
    background-color: #0a51cc;
    color: #fff;
    border-radius: 10px;
    margin: 20px 10px;
    padding: 15px 20px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0,6);
}
.box img {
    margin-right: 10px;
}

@media(max-width: 768px ){
    .header .container {
        flex-direction: column;
        padding-top: 20px;
        text-align: center;
    }
    .boxes .container {
        display: block;
        text-align: center;
    }
    
}



























