*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: purple;
    line-height: 1.2;
    background-color: #eee;
}

.container{
    width: 1200px;
    margin: 0 auto;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    font-size: 14px;
    color: purple;
    font-weight: 300;
}
.navbar{
    background-color: #fff;
    height: 100px;
    color: purple;
    /* padding: 0 20px; */
    border-bottom: 1px solid #ddd;
    box-shadow: 0 0 8px rgba(0,0,0,.1);
}
.navbar .header{
    display: flex;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    padding: 8px;
}
.navbar .nav{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

.navbar .logo{
    font-style: italic;
    font-size: 32px;
    font-weight: 900;
    color: purple;
}

.notification{
    display: flex;
    gap: 16px;
    align-items: center;
}

.notification .btn {
    background-color: darkmagenta;
    color: #fff;
    padding: 8px 24px;
    border-radius: 8px;
    border: none;
}

.notification .icon{
    width: 48px;
    height: 48px;
    background-color: darkmagenta;
    border-radius: 50%;
    box-shadow: inset 2px 2px 4px rgba(0,0,0,.5);
}

/* Feature */
h1{
    text-align: center;
    font-size: 36px;
    font-weight: 900;
    letter-spacing: 2px;
    color: black;
    margin: 32px 0;
}

img{
    max-width: 100%;
}
p{
    color: black;
    font-weight: 100;
    text-align: center;
}
.boxes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 52px;
}

.box{
    max-width: 200px;
    
}